body {
  display:flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vmin;
  width: 100vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}